<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{
            color:#000;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:utext="#{label.form.title}">form</title>
</head>
<body>
<h1>Registration form</h1>
<br>

<form action="/user/registration" method="POST" enctype="utf8" >
    <div class="form-group row" >
        <label class="col-sm-3" th:utext="#{label.user.firstName}">first</label>
        <span class="col-sm-5"><input class="form-control" name="firstName" value="" required="required"/></span>
        <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

    </div>
    <div class="form-group row">
        <label class="col-sm-3" th:utext="#{label.user.lastName}">last</label>
        <span class="col-sm-5"><input class="form-control" name="lastName" value="" required="required"/></span>
        <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

    </div>
    <div class="form-group row">
        <label class="col-sm-3" th:utext="#{label.user.email}">email</label>
        <span class="col-sm-5"><input type="email" class="form-control" name="email" value="" required="required"/></span>
        <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

    </div>
    <div class="form-group row">
        <label class="col-sm-3" th:utext="#{label.user.password}">password</label>
        <span class="col-sm-5"><input id="password" class="form-control" name="password" value="" type="password" required="required"/></span>
        <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3" th:utext="#{label.user.confirmPass}">confirm</label>
        <span class="col-sm-5"><input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required"/></span>
        <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3" th:utext="#{label.user.2fa}">Use Two Step Verification</label>
        <span class="col-sm-5"><input type="checkbox" name="using2FA" value="true"/></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" th:utext="#{label.form.submit}">submit</button>
</form>
<br/>
<a th:href="@{/login}" th:utext="#{label.form.loginLink}">login</a>

</body>
</html>